<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="container-admin">

        <header class="cabecalho-admin">

            <h1>
                Painel Administrativo
            </h1>

        </header>

        <main class="menu-admin">

            <a
                class="card-admin"
                href="/">

                Voltar para a Loja

            </a>
            <a
                class="card-admin"
                href="/admin/produtos">

                Gerenciar Produtos

            </a>

            <a
                class="card-admin"
                href="/admin/usuarios">

                Gerenciar Usuários

            </a>

            <a
                class="card-admin"
                href="/logout">

                Sair

            </a>

        </main>

    </div>

</body>
</html>