/*============================ 
RESET 
============================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*============================
 BODY
 ============================ */

body{
    background-color: #ffffff;
    color: #333;
}

/*============================
 HEADER
 ============================= */

.cabecalho{
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*============================
LOGO
============================*/
.logo h1{
    color: white;
}

.logo-img{
    height: 100px;
    width: auto;
}

/*============================
 MENU E USUARIO
 ============================ */

.menu{
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-link:hover{
    color: #ffe066;
}
.usuario-logado{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.nome-usuario{
    color: white;
    font-weight: bold;
}

.links-usuario{
    display: flex;
    gap: 15px;
}

/*============================
 BUSCA
 ============================ */

.form-busca{
    display: flex;
    gap: 10px;
}

.input-busca{
    width: 250px;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
    color: white;
}

.input-busca::placeholder{
    color: rgba(255,255,255,0.8);
}

.input-busca:focus{
    border-bottom: 2px solid #ffe066;
}

.btn-busca{
    padding: 10px 15px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.btn-busca:hover{
    opacity: 0.9;
}

/*============================
 HOME
============================ */

.titulo-pagina{
    text-align: center;
    margin: 30px 0;
}

.lista-produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}

.card-produto{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.produto-imagem img{
    max-width: 100%;
    border-radius: 10px;
}

.produto-titulo{
    margin: 15px 0;
}

.produto-preco{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-detalhes{
    display: inline-block;
    background-color: #e9e9e9;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-detalhes:hover{
    background-color: #dcdcdc;
}



/*============================
 LOGIN E CADASTRO
 ============================ */

.container-login,
.container-cadastro,
.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.card-login,
.card-cadastro,
.card-form{
    width: 450px;
    padding: 20px;
    background-color: white;
}

.card-login h1,
.card-cadastro h1{
    font-size: 42px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.texto-obrigatorio{
    color: #666;
    font-size: 14px;
    margin-bottom: 35px;
}

.form-login,
.form-cadastro{
    width: 100%;
}

.campo{
    margin-bottom: 35px;
}

.campo label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #111;
}

.campo input,
.campo textarea,
.campo select{
    width: 100%;
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 0;
    background: transparent;
    padding: 15px 0;
    font-size: 18px;
    outline: none;
}

.campo input:focus,
.campo textarea:focus,
.campo select:focus{
    border-bottom: 2px solid #000;
}

.mensagem-erro{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.btn-login,
.btn-cadastro,
.btn-carrinho{
    width: 100%;
    background-color: #000;
    color: white;
    border: none;
    padding: 18px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}
.btn-carrinho{
    margin-top: 20px;
}

.btn-login:hover,
.btn-cadastro:hover,
.btn-carrinho:hover{
    opacity: 0.9;
}

.link-login{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
}

.link-login:hover{
    text-decoration: underline;
}


/*============================
 BOTÕES GERAIS
 ============================ */

.btn-atualizar,
.btn-salvar,
.btn-cancelar{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.btn-voltar,
.btn-novo{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.btn-salvar,
.btn-atualizar{
    background-color: #000000;
    color: white;
}

.btn-cancelar{
    background-color: #ffe066;
    color: black;
}
.btn-editar{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.btn-excluir{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.btn-voltar-loja{

    display: inline-block;

    text-decoration: none;

    background-color: black;

    color: white;

    padding: 15px 25px;

    border-radius: 10px;

    margin-top: 20px;

    transition: 0.3s;
}

.btn-voltar-loja:hover{

    background-color: #222;
}
/*============================
 ADMIN
 ============================ */

.container-admin{
    padding: 40px;
}

.menu-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.card-admin{
    text-decoration: none;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.card-admin:hover{
    transform: translateY(-3px);
}
.cabecalho-admin{
    text-align: center;
    margin-bottom: 40px;
}

.cabecalho-admin h1{
    font-size: 42px;
    font-weight: 700;
    color: #000;
}
/*============================
 TABELAS
 ============================ */

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #000000;
    color: white;
}

th,
td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}



/*============================
 DETALHES DO PRODUTO
 ============================ */

.container-produto{
    max-width: 1400px;
    margin: auto;
    padding: 40px;
}

.link-voltar{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.produto-detalhe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    margin-top: 40px;
}

.produto-imagem-grande{
    flex: 1;
    display: flex;
    justify-content: center;
}

.produto-imagem-grande img{
    width: 100%;
    max-width: 550px;
    object-fit: contain;
}

.produto-info{
    flex: 1;
    max-width: 500px;
}

.titulo-produto-detalhe{
    font-size: 52px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.preco-produto-detalhe{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

.descricao-produto-detalhe{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.input-quantidade{
    width: 120px;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    text-align: center;
}
/*============================
CARRINHO
============================*/
.carrinho-flutuante{
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 70px;
    height: 70px;

    border-radius: 50%;

    background-color: black;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    font-size: 28px;

    z-index: 1000;

    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.contador-carrinho{
    position: absolute;

    top: -5px;
    right: -5px;

    width: 25px;
    height: 25px;

    border-radius: 50%;

    background-color: crimson;

    color: white;

    font-size: 14px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho-flutuante:hover{
    transform: scale(1.1);
}
.mini-carrinho{

    position: fixed;

    top: 0;
    right: -400px;

    width: 400px;
    height: 100vh;

    background: white;

    box-shadow:
        -5px 0 20px
        rgba(0,0,0,0.15);

    transition: 0.3s;

    z-index: 2000;

    padding: 20px;

    overflow-y: auto;
}

.topo-carrinho{

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}

.topo-carrinho button{

    border: none;

    background: none;

    font-size: 22px;

    cursor: pointer;
}

.btn-ver-carrinho{

    display: block;

    text-align: center;

    background: black;

    color: white;

    text-decoration: none;

    padding: 15px;

    border-radius: 8px;

    margin-top: 20px;
}
/*============================
MINI CARRINHO
============================*/
.mini-item{

    display: flex;

    gap: 15px;

    margin-bottom: 20px;

    padding-bottom: 20px;

    border-bottom: 1px solid #eee;
}

.mini-item-img{

    width: 80px;

    height: 80px;

    object-fit: cover;

    border-radius: 10px;
}

.mini-item-info{

    flex: 1;
}

.mini-item-info h4{

    margin-bottom: 8px;
}
.item-carrinho{

    display: flex;

    gap: 20px;

    align-items: center;

    background: white;

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 15px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.img-carrinho{

    width: 120px;

    height: 120px;

    object-fit: cover;

    border-radius: 10px;
}

.info-carrinho{

    flex: 1;
}
/* =========================================
   CARROSSEL
========================================= */

.carousel{

    position: relative;

    width: 100%;

    overflow: hidden;

    margin-bottom: 50px;
}

.carousel img{

    width: 100%;
    height: 600px;
    object-fit: cover;

    display: block;
}

.carousel-btn{

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: rgba(0,0,0,0.5);

    color: white;

    font-size: 22px;

    cursor: pointer;

    z-index: 10;
}

.prev{

    left: 20px;
}

.next{

    right: 20px;
}

.carousel-btn:hover{

    background: rgba(0,0,0,0.8);
}
/*============================
 RESPONSIVO
 ============================ */

@media(max-width: 1200px){

    .lista-produtos{
        grid-template-columns: repeat(3,1fr);
    }

}

@media(max-width: 900px){

    .lista-produtos{
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width: 600px){

    .lista-produtos{
        grid-template-columns: 1fr;
    }

    .card-login,
    .card-cadastro{
        width: 90%;
    }

}